body {
    display: flex;
    justify-content: center;
    align-items: center;
}   
img {
    display: block;   
}
#header {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    /* font-size: 22px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-container {
    margin-top: 30px;
}
#back-to-top {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    position: fixed;
    bottom: 20px;
    right: -50px;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    /* padding: 10px; */
    cursor: pointer;
}
.back {
    max-width: 50%;
    max-height: auto;
}